@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Quicksand:wght@300..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

@import "tailwindcss";
@plugin 'tailwind-scrollbar';

@theme {
  --font-logo: "Rubik", sans-serif;
  --font-name: "Quicksand", sans-serif;
  --font-message: "Rubik", sans-serif;

  --color-user: #aeea94;
  --color-friend: #b771e5;
  --color-bgColor: #131313;
  --color-borderColor: #202020;
  --color-bgInput: #191919;
  --color-textInput: #e5e7eb;
  --color-placeholder: #99a1af;
  --color-title: #f3f4f6;
  --color-desc: #99a1af;
}
